.hidden {
  visibility: hidden;
}

body {
  background-color: #EDD3C4;
}

header {
  margin-top: 2em;
  text-align: center;
}

.display-cards-num {
  display: flex;
  justify-content: space-between;
  padding: 1em 13.5em;
  color:rgb(31, 57, 79);
  font-size: larger;
}

.game {
  display: flex;
  justify-content: space-between;
  padding: 0em 10em 0em 10em;
}

.card {
  height: 20em;
  width: 16em;
  border-radius: 1em;
  border: lightblue 1px solid;
  background: url(assets/red-07.png) 0em -4em/16em no-repeat;
}

.player-one {
  border: #74b9ff 1px solid;
  box-shadow: 0em 0em 2em 1em #74b9ff;
  background: url(assets/back.png) 0em -4em/16em no-repeat;
}

.player-two {
  border: #ffeaa7 1px solid;
  box-shadow: 0em 0em 2em 1em #ffeaa7;
  background: url(assets/back.png) 0em -4em/16em no-repeat;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 1em 13.5em;
  color:rgb(31, 57, 79);
  font-size: larger;
}

.instructions {
  padding: 0em 9em;
  text-align: center;
}

.instructions p {
  font-size: 1em;
  color: darkblue;
}

.slap-rule {
  text-align: left;
  width: 22em;
  margin-top: -2em;
}